.header {
    background-color: #333;
    padding: 20px;
    color: #fff;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 100px;

}

.navItem {}

.navLink {
    color: #fff;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
}
